#heading, #results {
  text-align: center;
}

#questions {
  margin-top: 20px;
}

label {
  font-size: 18px;
}

button[type="button"] {
  margin-top: 10px;
  font-size: 20px;
}

.centerButton {
  text-align: center;
}

.centerButton > img {
  margin: 20px;
}

#resultNaN > .centerButton > img {
  width: 60%;
}

/*initially hide divs*/

#questions, #question1, #question2, #question3 {
  display: none;
}

#results, #resultNaN, #result1, #result2, #result3 {
  display: none;
}
